@model Proyecto_3.Models.ErrorReport
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <!-- MetisMenu CSS -->
    <link href="~/css/metisMenu.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="~/css/sb-admin-2.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>

                    <li>
                        <a href="~/SeguimientoEntrenamientos/"><i class="fa fa-dashboard fa-fw"></i> Seguimiento a Entrenamientos</a>
                    </li>
                    <li>
                        <a href="~/ReporteDeErrores/"><i class="fa fa-dashboard fa-fw"></i> Reporte de Errores</a>
                    </li>
                    <li>
                        <a href="~/ReporteDeErrores/TabladeErrores"><i class="fa fa-dashboard fa-fw"></i> Tabla de Errores</a>
                    </li>
                    <li>
                        <a href="~/PuntosDeContacto/"><i class="fa fa-dashboard fa-fw"></i> Puntos de Contacto</a>
                    </li>

                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Reporte de Errores</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            @using (Html.BeginForm("RegistrarError", "ReporteDeErrores", FormMethod.Post))
                            {
                                <input type="hidden" value="14" name="UserID">
                                <div class="form-group">
                                    <label for="NombreProd">Nombre del producto</label>
                                    <input type="text" class="form-control" id="NombreProd" placeholder="Introduzca nombre del producto" name="ProductName">
                                </div>
                                <div class="form-group">
                                    <label for="Fecha">Fecha en la que se dio el problema</label>
                                    <input type="date" class="form-control" id="Fecha" name="ErrorDate">
                                </div>
                                <div class="form-group">
                                    <label for="ventaid">Número de facutura</label>
                                    <select class="form-control" id="ventaid" name="SaleID">
                                        <option selected="true" disabled>
                                            Seleccione un Número de factura
                                        </option>
                                        @foreach (var venta in ViewBag.listaVentas)
                                        {
                                            <option value="@venta.SaleID">
                                                @venta.SaleID
                                            </option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="descpro">Descripción del problema</label>
                                    <textarea class="form-control" id="descpro" rows="6" name="ErrorDescription"></textarea>
                                    <small id="descpro" class="form-text text-muted">Brinde una pequena descripción de problema:</small>
                                    <BR>
                                    <small id="descpro" class="form-text text-muted">1. ¿Qué vio exactamente?</small>
                                    <BR>
                                    <small id="descpro" class="form-text text-muted">2. ¿El producto iba bien empacado?</small>
                                    <BR>
                                    <small id="descpro" class="form-text text-muted">3. Etc.</small>
                                </div>
                                <div class="form-group">
                                    <label for="Contacto">Correo de contacto</label>
                                    <input type="email" class="form-control" id="Contacto" placeholder="Correo al que desea ser contactado" name="ContactMail">
                                </div>
                                <button type="submit" class="btn btn-primary">Enviar</button>

                                
                            }
                            <div class="field-wrap">
                                <label>
                                    @Html.DisplayFor(model => model.errorMessage)
                                </label>

                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Scripts/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/Scripts/sb-admin-2.js"></script>

</body>

</html>
